body,html{
    width:100%;
    height:100%;
    margin:0;
}
#top-bar{
 
    display:block;
    height: 40px;
    overflow-y: hidden;
    display:block;
    width:100%;
    text-align:center;
 
}

.button:hover{
    background-color:#496264 !important;
    cursor:pointer;
}

 


#load-images{
    font-family: 'Montserrat', sans-serif;
    border:0;
    height: 40px;
    color: #f4f4f4;
    cursor:pointer;
    padding:10px;
    background-color: #000;
    
}

#keyword-search{
    border: 0;
    height: 39px;
    padding-left: 4px;
    margin-top: 3px;
    font-family: 'Montserrat', sans-serif;
    color: #f4f4f4;
    background-color: #000
}
#keyword-search:focus{
    outline:none;
    border: none;
}


/*Misc styles*/
.padder{
    height:100px;
    width:100%;
    clear:both;
}
#showRemovedPages{
    height:50px;
    width:100%;
}

.center-wrapper{
    margin-left:auto;
    margin-right:auto;
    width:100%;
}

/*Footer styles*/

#footer{
    display:block;
    position:fixed;
    bottom:0;
    left:0;
    z-index: 999;
    width:100%;
    opacity:0.9;
    height:60px;
 
    -moz-transition:    opacity .4s linear;
	-webkit-transition: opacity .4s linear;
	-o-transition:      opacity .4s linear;
	transition:         opacity .4s linear;
}

#footer:hover{
    opacity: 1.0 !important;
    -moz-transition:    opacity .4s linear;
	-webkit-transition: opacity .4s linear;
	-o-transition:      opacity .4s linear;
	transition:         opacity .4s linear;
}




/*Image  styles*/
#image-part{
    display:block;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    width:
}
.img-container{
    padding:5px;
    display: inline-block;
 
}

.img{
    -webkit-border-radius: 50px;
	-moz-border-radius:  50px;
    width:300px;
    height:300px;
    display:block;
    background-size: cover !important;
    background-repeat: no-repeat;
   
}

.img-info{
    -webkit-border-bottom-right-radius: 50px;
    -webkit-border-bottom-left-radius: 50px;
	-moz-border-bottom-right-radius:  50px;
	-moz-border-bottom-left-radius:  50px;
    position:relative;
    top:200px;
    width:300px;
    height:100px;
    overflow:hidden;
    background: #000;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight:100;
    text-overflow: ellipsis;
}

.img-info .title{
    padding:5px;
    display:block;
}

.hover-only{
    opacity:0.00;

}
 
.show{
    opacity:1.00 !important;
    -moz-transition:    opacity 2s ease-in;
	-webkit-transition: opacity 2s ease-in;
	-o-transition:      opacity 2s ease-in;
	transition:         opacity 2s ease-in;
}
.hide{
    opacity:0.00;
    -moz-transition:    opacity .3s linear;
	-webkit-transition: opacity .3s linear;
	-o-transition:      opacity .3s linear;
	transition:         opacity .3s linear;
}

/*pager styles*/

.pager{
    padding-top:15px;
    margin-left:auto;
    margin-right:auto;
    width:800px;
    text-align:center;
}

.pager-text{
    -webkit-border-radius: 3x;
	-moz-border-radius:  3x;
    color: #f4f4f4;
    cursor:pointer;
    padding:10px;
    background-color: #000;
    opacity:0.9;
    font-family: 'Montserrat', sans-serif;
}

.pager-text:hover{
    -moz-transition:    opacity .2s linear;
	-webkit-transition: opacity .2s linear;
	-o-transition:      opacity .2s linear;
	transition:         opacity .2s linear;
    opacity:1.0;
}

.pager-curr{
    background: #57787B;
    opacity: 1.0;
}

#pager-jump{
    width: 100px;
    border: 0;
    padding: 5px;
    position: relative;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    background: #000;
    color: #f4f4f4;
}





/*Opened image css*/

.opened-container{
    height:100%;
    width:100%;
    background:#000;
    opacity:0.8;
    position:fixed;
    top:0;
    left:0;
    z-index: 9999999;
}

.opened-title{
    color: #fff;
}

.image-details{
    background: red;
    display: block;
    position: relative;
    top: 10%;
    height: 80%;
}