body,html{
    width:100%;
    height:100%;
    margin:0;
}

/*Misc styles*/
.padder{
    height:100px;
    width:100%;
    clear:both;
}
#showRemovedPages{
    height:50px;
    width:100%;
}

.center-wrapper{
    margin-left:auto;
    margin-right:auto;
    width:100%;
}

 
.button:hover{
    background-color:#496264 !important;
    cursor:pointer;
}

a{

    color: #44A4B6;
    text-decoration: none;
}


/*top bar styles*/
.logo{
    float:left;
    display:inline-block;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    text-align:left;
    padding: 5px 0 0 5px;
}

.logo-sub{
    font-style:italic;
    font-size: 13px;
    opacity: 0.7;
}

#top-bar{
    display:block;
    overflow-y: hidden;
    display:block;
    width:100%;
    text-align:center;
    padding-bottom: 9px;
    background:#1F686F;
}

#load-images{
    font-family: 'Montserrat', sans-serif;
    border: 0;
    height: 40px;
    display: inline-block;
    color: #f4f4f4;
    cursor: pointer;
  
    margin-right: 10px;
    margin-top: 5px;
    padding: 10px;
    background-color: #000;
    
}

#keyword-search{
    border: 0;
    height: 39px;
    padding-left: 4px;
    margin-right: 10px;
    margin-top: 5px;
    font-family: 'Montserrat', sans-serif;
    color: #f4f4f4;
    background-color: #000;
}
#keyword-search:focus{
    outline:none;
    border: none;
}

.top-opts{
    float:right;
}




/*Footer styles*/

#footer{
    display:block;
    position:fixed;
    bottom:0;
    left:0;
    z-index: 999;
    width:100%;
    opacity:1.0;
    padding-bottom:8px;
    background:rgb(66, 75, 109);
    -moz-transition:    opacity .4s linear;
	-webkit-transition: opacity .4s linear;
	-o-transition:      opacity .4s linear;
	transition:         opacity .4s linear;
}

#footer:hover{
    opacity: 1.0;
    -moz-transition:    opacity .8s ease;
	-webkit-transition: opacity .8s ease;
	-o-transition:      opacity .8s ease;
	transition:         opacity .8s ease;
}




/*Image  styles*/
#image-part{
    display:block;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    width:
}
.img-container{
    padding:5px;
    display: inline-block;
    cursor:pointer;
}

.img-container:hover{
    cursor:pointer;
}
.img{
    -webkit-border-radius: 30px;
	-moz-border-radius:  30px;
    border-radius:  30px;
    width:300px;
    height:300px;
    display:block;
    background-size: cover !important;
    background-repeat: no-repeat;
   
}

.img-info{
    -webkit-border-bottom-right-radius: 30px;
    -webkit-border-bottom-left-radius: 30px;
	-moz-border-bottom-right-radius:  30px;
	-moz-border-bottom-left-radius:  30px;
    border-bottom-right-radius:  30px;
    border-bottom-left-radius:  30px;
    position:relative;
    top:200px;
    width:300px;
    height:100px;
    overflow:hidden;
    background: #000;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight:100;
    text-overflow: ellipsis;
}

.img-info .title{
    padding:5px;
    display:block;
    overflow: hidden;
    white-space: wrap;
}

.hover-only{
    opacity:0.00;
}
 
.show{
    opacity:1.00 !important;
    -moz-transition:    opacity 2s ease-in;
	-webkit-transition: opacity 2s ease-in;
	-o-transition:      opacity 2s ease-in;
	transition:         opacity 2s ease-in;
}
.hide{
    opacity:0.00;
    -moz-transition:    opacity .3s linear;
	-webkit-transition: opacity .3s linear;
	-o-transition:      opacity .3s linear;
	transition:         opacity .3s linear;
}



/*pager styles*/
.pager{
    padding-top:5px;
    margin-left:auto;
    margin-right:auto;
    width:100%;
    text-align:center;
}

.pager-text{
    -webkit-border-radius: 3x;
	-moz-border-radius:  3x;
    border-radius:  3x;
    color: #f4f4f4;
    cursor:pointer;
    padding:10px;
    background-color: #000;
     
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    margin-top: 2px;
}


.pager-curr{
    background: #57787B;
    opacity: 1.0;
}

#pager-jump{
    width: 100px;
    border: 0;
    padding: 5px;
    position: relative;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    background: #000;
    color: #f4f4f4;
    margin-top: 5px;
}





/*Opened image css*/
.opened-container{
    height:100%;
    width:100%;
    background:rgba(0,0,0,0.8);
 
    position:fixed;
    top:0;
    left:0;
    z-index: 9999999;
}

.opened-title{
    color: #fff;
}

.opened-image{
    text-align:center;  
}

.opened-options{
    display:inline-block;
    vertical-align: top;
    font-family: 'Montserrat', sans-serif;

}

.opened-options .button{
    padding:5px;
    background: #000;
    color: #fff;
    display:block;
}

.image-details{
    display: block;
    position: relative;
    top: 10%;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
}

.details-container{
    width:90%;
    height:100%;
    background:#F5F5F5;
    z-index:9999999;
    opacity: 1.00;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    overflow-y:scroll;
}

.under-image{
    background:#F0F0F0;
    padding:10px;
}
.under-image .title{
    font-family: 'Montserrat', sans-serif;
    font-weight:bold;
    font-size:30px;
    display: block;
    clear: both;
}
.under-image .desc{
   font-family: 'Montserrat', sans-serif;
    
}